<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timestamp Microservice</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Timestamp Microservice</h1>
    <div class="wrapper">
      <div>
        <h3>Valid Date</h3>
        <code>[project url]/api/2015-12-25</code>
        <code>{
          "unix":1451001600000, 
          "utc":"Fri, 25 Dec 2015 00:00:00 GMT"
        }</code>
        <button type="button">Test</button>
      </div>

      <div>
        <h3>Unix Timestamp</h3>
        <code>[project url]/api/1451001600000 </code>
        <code>{
          "unix":1451001600000, 
          "utc":"Fri, 25 Dec 2015 00:00:00 GMT"
        }</code>
        <button type="button">Test</button>
      </div>
    </div>
  </body>
</html>
