<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timestamp Microservice</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1 class="title">Timestamp Microservice</h1>
    <div class="container">
      <div class="wrapper">
        <div class="box">
          <h3>Valid Date</h3>
          <p>Example Usage:</p>
          <code>url/api/2015-12-25</code>
          <p>Example Output:</p>
          <code>{ "unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT" }</code>
          <form action="" method="get">
            <button type="button">Test</button>
          </form>
        </div>

        <div class="box">
          <h3>Unix Timestamp</h3>
          <p>Example Usage:</p>
          <code>url/api/1451001600000</code>
          <p>Example Output:</p>
          <code>{ "unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT" }</code>
          <form action="" method="get">
            <button type="button">Test</button>
          </form>
        </div>

        <div class="box">
          <h3>Invalid Date</h3>
          <p>Example Usage:</p>
          <code>url/api/foo </code>
          <p>Example Output:</p>
          <code>{ error: "Invalid Date" }</code>
          <form action="" method="get">
            <button type="button">Test</button>
          </form>
        </div>

        <div class="box">
          <h3>Empty Date Parameter</h3>
          <p>Example Usage:</p>
          <code>url/api/ </code>
          <p>Example Output:</p>
          <code>{ "unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT" }</code>
          <form action="" method="get">
            <button type="button">Test</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
