:root {
  --main-background: rgb(48, 48, 48);
  --code-color: #9c9c9c;
  --text-color: whitesmoke;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ROBOTO;
  background-color: var(--main-background);
  color: var(--text-color);
}

.title {
  text-align: center;
  color: yellow;
}

.container {
  max-width: 80vh;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.box {
  border: 1px solid;
  padding: 20px;
  animation: changeBorderColor 5s infinite alternate;
}

h3 {
  margin: 0px;
}

p {
  margin-bottom: 0.5rem;
}

code {
  display: block;
  line-height: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--code-color);
}

form {
  margin-top: 10px;
}

button {
  background-color: rgb(138, 195, 245);
  border: none;
  padding: 5px 30px;
}

@keyframes changeBorderColor {
  0% {
    border-color: blue;
  }
  50% {
    border-color: green;
  }
  100% {
    border-color: yellow;
  }
}

@media (max-width: 960px) {
  .wrapper {
    margin: 0px 5px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
